@import "./Variables.scss";

.role-selection-wrapper{
    :first-child{
        padding-left: 14%;
        font-weight: bold;
    }
    div{
        padding-top: 0%;
        input{
            cursor: pointer;
        }
    }
    padding: 0%;
    border-left: $table-border-color;
}