@import "./Variables.scss";

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    margin: 2em;
}

.header-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: $table-border-color;
    padding: 0% 0% 1% 0%;
    width: 100%;
    button{
        border-radius: 10%;
        cursor: pointer;
        border: 0.75px solid rgb(255 255 255 / 75%);
        background: rgb(0 89 255 / 83%);
        padding: 0.35% 1.5% 0.35% 1.5%;
        color: white;
    }
    h1{
        margin: 0%;
    }
}

.name-input-wrapper{
    padding: 0% 40% 0% 0%;
    display: flex;
    flex-direction: column;
    label{
        font-weight: bold;
        padding-bottom: 3%;
    }
    input{
        width: 22em;
    }
    input:hover{
        box-shadow: 0 0 2px 2px rgba(99, 153, 255, 0.83);
    }
    input:focus{
        box-shadow: 0 0 2px 2px rgba(99, 153, 255, 0.83);
    }
}

.footer-wrapper{
    display: flex;
    flex-direction: row;
    padding: 2% 0% 0% 0%;

}